PORT=8080
DATABASE_URL=./data/formrelay.db

# Admin Access
ADMIN_USER=admin
ADMIN_PASS=ChangeMeSuperSecretKey

# Global SMTP Settings
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=postmaster@mon-domaine.fr
SMTP_PASS=secret
FROM_EMAIL=noreply@mon-domaine.fr
FROM_NAME=FormRelay Admin
